<div class="jumbotron">
  <div class="container">
   	<h1>WE SEND TRUTH LETTERS TO<br>THE PEOPLE YOU CARE ABOUT.</h1>
			<p>Do you need to send a message to someone but don't know how?<br>Send them a truth letter thats filled with love for $9.99...<br><strong>BECAUSE THE TRUTH DOESN'T HAVE TO HURT.</strong></p>
			<center><div class="btn-group">
				<button type="button" class="btn btn-danger">
					<span><strong>BUY NOW!</strong></span></button>
			</div></center>
	</div>
</div>
	<div class="our-process">
		<div class="container">
			<h1>Our Process</h1>
				<h3>Our innovatively designed letters <br>are optimized for minimal butt-hurt.</h3>
			<div class="row">
				<div class="col-md-6">
					<img src="http://goo.gl/uA8RTs">
				</div>
				<div class="col-md-6">
					<p>We all have that friend or family member that chews too loud, or smokes too much, or dare I say it, uses too much toilet paper. That kind behavior is unacceptable and can affect the lives of those around them. You have told them before, but they just won't listen.</p>
					<p>What is our solution you ask? Send them an anonymous intervention/cease and desist letter that is <strong>FILLED</strong> with love for minimal butt-hurt.</p>
					<p>For only $9.99 and an address anywhere in the world, we will send that "someone" in your life an anonymous letter that opens their eyes to a major issue. Know someone that says the word "like" too much? Not anymore. Know someone who leaves hair in the sink? Say "Hasta la vista, baby."
				</div>
			</div>
		</div>
	</div>

	<div class="letter-designs">
    <div class="container">
      <h1>Our Letters</h1>
      <h3>Choose between these <br>beautifully designed letters...</h3>
      <div class="row">
          <div class="col-md-4">
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/mJ9leRr.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/19GUMgj.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/eQJKY1S.jpg">
          	</div>
          </div>
          <div class="col-md-4">
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/IGXr8D8.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/8TE3Yh5.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/vui6XO6.jpg">
          	</div>
          </div>
          <div class="col-md-4">
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/Ms5pc0e.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/GjdWklT.jpg">
          	</div>
          	<div class="thumbnail">
          		<img src="http://i.imgur.com/9tsv9oa.jpg">
          	</div>
          </div>
      </div>
    </div>
	 </div>
<div>

<div class="faq">
	<div class="container">
		<h1>FAQ</h1>
			<h3>Super important stuff right here...</h3>
		<div class="panel panel-default">
  		<div class="panel-body"> <strong>Is this serious?</strong><br><u>Super serious</u>. This is going to be huge.
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>What happens after I give you my money?</strong><br>We will immediately send out your truth letter to your recipient. <u>Life changed.</u>
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>Will the recipient know who sent the letter?</strong><br>We won't tell them if you dont...
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>My recipient seems to be butt-hurt. What now?</strong><br>If you email us after your purchase with a full explanation of why your recipient is butt-hurt, we will send them a complimentary "Don't be Butt-hurt" letter.
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>How much does it cost?</strong><br>$9.99
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>Why should I pay you to send this letter?</strong><br>If you could change your or someone else's life forever for $9.99 wouldn't you? I thought so.<br>No more questions.
  		</div>
		</div>
	</div>
</div>

	<div class="buy-now">
		<div class="container">
			<h1>Buy Now</h1>
				<h3>Ready to change your life forever?<br>Send someone the truth for only $9.99.</h3>
			<div class="row">
				<div class="col-md-6">
					<p>Are you finally ready to change not only your life but someone else's life forever? All you have to do is send them a letter of truth and you both can be on your way to a better future.</p>
					<p>You will then be sent to payment processing via PayPal.</p>
					<p>That's right, we only accept PayPal. We will accept more methods of payment when we scale, which shouldn't be long at all. 
				</div>
				<div class="col-md-6">
					<form class="form-horizontal">
					<fieldset>
					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="textinput"></label>
					  <div class="controls">
					    <input id="textinput" name="textinput" type="text" placeholder="Recipient's Name" class="input-xxlarge" required="">   
					  </div>
					</div>

					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="textinput"></label>
					  <div class="controls">
					    <input id="textinput" name="textinput" type="text" placeholder="Address Line" class="input-xxlarge" required="">
					    
					  </div>
					</div>

					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="textinput"></label>
					  <div class="controls">
					    <input id="textinput" name="textinput" type="text" placeholder="City" class="input-xxlarge" required="">
					    
					  </div>
					</div>

					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="textinput"></label>
					  <div class="controls">
					    <input id="textinput" name="textinput" type="text" placeholder="State" class="input-xxlarge" required="">		    
					  </div>
					</div>

					<!-- Text input-->
					<div class="control-group">
					  <label class="control-label" for="textinput"></label>
					  <div class="controls">
					    <input id="textinput" name="textinput" type="text" placeholder="Zip/Postal Code" class="input-xxlarge" required="">   
					  </div>
					</div>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic"></label>
  <div class="controls">
    <select id="selectbasic" name="selectbasic" class="input-xxlarge">
      <option>-- Choose a Country --</option>
      <option value="AF">Afghanistan</option>
			<option value="AX">Åland Islands</option>
			<option value="AL">Albania</option>
			<option value="DZ">Algeria</option>
			<option value="AS">American Samoa</option>
			<option value="AD">Andorra</option>
			<option value="AO">Angola</option>
			<option value="AI">Anguilla</option>
			<option value="AQ">Antarctica</option>
			<option value="AG">Antigua and Barbuda</option>
			<option value="AR">Argentina</option>
			<option value="AM">Armenia</option>
			<option value="AW">Aruba</option>
			<option value="AU">Australia</option>
			<option value="AT">Austria</option>
			<option value="AZ">Azerbaijan</option>
			<option value="BS">Bahamas</option>
			<option value="BH">Bahrain</option>
			<option value="BD">Bangladesh</option>
			<option value="BB">Barbados</option>
			<option value="BY">Belarus</option>
			<option value="BE">Belgium</option>
			<option value="BZ">Belize</option>
			<option value="BJ">Benin</option>
			<option value="BM">Bermuda</option>
			<option value="BT">Bhutan</option>
			<option value="BO">Bolivia</option>
			<option value="BA">Bosnia and Herzegovina</option>
			<option value="BW">Botswana</option>
			<option value="BV">Bouvet Island</option>
			<option value="BR">Brazil</option>
			<option value="IO">British Indian Ocean Territory</option>
			<option value="BN">Brunei Darussalam</option>
			<option value="BG">Bulgaria</option>
			<option value="BF">Burkina Faso</option>
			<option value="BI">Burundi</option>
			<option value="KH">Cambodia</option>
			<option value="CM">Cameroon</option>
			<option value="CA">Canada</option>
			<option value="CV">Cape Verde</option>
			<option value="KY">Cayman Islands</option>
			<option value="CF">Central African Republic</option>
			<option value="TD">Chad</option>
			<option value="CL">Chile</option>
			<option value="CN">China</option>
			<option value="CX">Christmas Island</option>
			<option value="CC">Cocos (Keeling) Islands</option>
			<option value="CO">Colombia</option>
			<option value="KM">Comoros</option>
			<option value="CG">Congo</option>
			<option value="CD">Congo, The Democratic Republic of The</option>
			<option value="CK">Cook Islands</option>
			<option value="CR">Costa Rica</option>
			<option value="CI">Cote D'ivoire</option>
			<option value="HR">Croatia</option>
			<option value="CU">Cuba</option>
			<option value="CY">Cyprus</option>
			<option value="CZ">Czech Republic</option>
			<option value="DK">Denmark</option>
			<option value="DJ">Djibouti</option>
			<option value="DM">Dominica</option>
			<option value="DO">Dominican Republic</option>
			<option value="EC">Ecuador</option>
			<option value="EG">Egypt</option>
			<option value="SV">El Salvador</option>
			<option value="GQ">Equatorial Guinea</option>
			<option value="ER">Eritrea</option>
			<option value="EE">Estonia</option>
			<option value="ET">Ethiopia</option>
			<option value="FK">Falkland Islands (Malvinas)</option>
			<option value="FO">Faroe Islands</option>
			<option value="FJ">Fiji</option>
			<option value="FI">Finland</option>
			<option value="FR">France</option>
			<option value="GF">French Guiana</option>
			<option value="PF">French Polynesia</option>
			<option value="TF">French Southern Territories</option>
			<option value="GA">Gabon</option>
			<option value="GM">Gambia</option>
			<option value="GE">Georgia</option>
			<option value="DE">Germany</option>
			<option value="GH">Ghana</option>
			<option value="GI">Gibraltar</option>
			<option value="GR">Greece</option>
			<option value="GL">Greenland</option>
			<option value="GD">Grenada</option>
			<option value="GP">Guadeloupe</option>
			<option value="GU">Guam</option>
			<option value="GT">Guatemala</option>
			<option value="GG">Guernsey</option>
			<option value="GN">Guinea</option>
			<option value="GW">Guinea-bissau</option>
			<option value="GY">Guyana</option>
			<option value="HT">Haiti</option>
			<option value="HM">Heard Island and Mcdonald Islands</option>
			<option value="VA">Holy See (Vatican City State)</option>
			<option value="HN">Honduras</option>
			<option value="HK">Hong Kong</option>
			<option value="HU">Hungary</option>
			<option value="IS">Iceland</option>
			<option value="IN">India</option>
			<option value="ID">Indonesia</option>
			<option value="IR">Iran, Islamic Republic of</option>
			<option value="IQ">Iraq</option>
			<option value="IE">Ireland</option>
			<option value="IM">Isle of Man</option>
			<option value="IL">Israel</option>
			<option value="IT">Italy</option>
			<option value="JM">Jamaica</option>
			<option value="JP">Japan</option>
			<option value="JE">Jersey</option>
			<option value="JO">Jordan</option>
			<option value="KZ">Kazakhstan</option>
			<option value="KE">Kenya</option>
			<option value="KI">Kiribati</option>
			<option value="KP">Korea, Democratic People's Republic of</option>
			<option value="KR">Korea, Republic of</option>
			<option value="KW">Kuwait</option>
			<option value="KG">Kyrgyzstan</option>
			<option value="LA">Lao People's Democratic Republic</option>
			<option value="LV">Latvia</option>
			<option value="LB">Lebanon</option>
			<option value="LS">Lesotho</option>
			<option value="LR">Liberia</option>
			<option value="LY">Libyan Arab Jamahiriya</option>
			<option value="LI">Liechtenstein</option>
			<option value="LT">Lithuania</option>
			<option value="LU">Luxembourg</option>
			<option value="MO">Macao</option>
			<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
			<option value="MG">Madagascar</option>
			<option value="MW">Malawi</option>
			<option value="MY">Malaysia</option>
			<option value="MV">Maldives</option>
			<option value="ML">Mali</option>
			<option value="MT">Malta</option>
			<option value="MH">Marshall Islands</option>
			<option value="MQ">Martinique</option>
			<option value="MR">Mauritania</option>
			<option value="MU">Mauritius</option>
			<option value="YT">Mayotte</option>
			<option value="MX">Mexico</option>
			<option value="FM">Micronesia, Federated States of</option>
			<option value="MD">Moldova, Republic of</option>
			<option value="MC">Monaco</option>
			<option value="MN">Mongolia</option>
			<option value="ME">Montenegro</option>
			<option value="MS">Montserrat</option>
			<option value="MA">Morocco</option>
			<option value="MZ">Mozambique</option>
			<option value="MM">Myanmar</option>
			<option value="NA">Namibia</option>
			<option value="NR">Nauru</option>
			<option value="NP">Nepal</option>
			<option value="NL">Netherlands</option>
			<option value="AN">Netherlands Antilles</option>
			<option value="NC">New Caledonia</option>
			<option value="NZ">New Zealand</option>
			<option value="NI">Nicaragua</option>
			<option value="NE">Niger</option>
			<option value="NG">Nigeria</option>
			<option value="NU">Niue</option>
			<option value="NF">Norfolk Island</option>
			<option value="MP">Northern Mariana Islands</option>
			<option value="NO">Norway</option>
			<option value="OM">Oman</option>
			<option value="PK">Pakistan</option>
			<option value="PW">Palau</option>
			<option value="PS">Palestinian Territory, Occupied</option>
			<option value="PA">Panama</option>
			<option value="PG">Papua New Guinea</option>
			<option value="PY">Paraguay</option>
			<option value="PE">Peru</option>
			<option value="PH">Philippines</option>
			<option value="PN">Pitcairn</option>
			<option value="PL">Poland</option>
			<option value="PT">Portugal</option>
			<option value="PR">Puerto Rico</option>
			<option value="QA">Qatar</option>
			<option value="RE">Reunion</option>
			<option value="RO">Romania</option>
			<option value="RU">Russian Federation</option>
			<option value="RW">Rwanda</option>
			<option value="SH">Saint Helena</option>
			<option value="KN">Saint Kitts and Nevis</option>
			<option value="LC">Saint Lucia</option>
			<option value="PM">Saint Pierre and Miquelon</option>
			<option value="VC">Saint Vincent and The Grenadines</option>
			<option value="WS">Samoa</option>
			<option value="SM">San Marino</option>
			<option value="ST">Sao Tome and Principe</option>
			<option value="SA">Saudi Arabia</option>
			<option value="SN">Senegal</option>
			<option value="RS">Serbia</option>
			<option value="SC">Seychelles</option>
			<option value="SL">Sierra Leone</option>
			<option value="SG">Singapore</option>
			<option value="SK">Slovakia</option>
			<option value="SI">Slovenia</option>
			<option value="SB">Solomon Islands</option>
			<option value="SO">Somalia</option>
			<option value="ZA">South Africa</option>
			<option value="GS">South Georgia and The South Sandwich Islands</option>
			<option value="ES">Spain</option>
			<option value="LK">Sri Lanka</option>
			<option value="SD">Sudan</option>
			<option value="SR">Suriname</option>
			<option value="SJ">Svalbard and Jan Mayen</option>
			<option value="SZ">Swaziland</option>
			<option value="SE">Sweden</option>
			<option value="CH">Switzerland</option>
			<option value="SY">Syrian Arab Republic</option>
			<option value="TW">Taiwan, Province of China</option>
			<option value="TJ">Tajikistan</option>
			<option value="TZ">Tanzania, United Republic of</option>
			<option value="TH">Thailand</option>
			<option value="TL">Timor-leste</option>
			<option value="TG">Togo</option>
			<option value="TK">Tokelau</option>
			<option value="TO">Tonga</option>
			<option value="TT">Trinidad and Tobago</option>
			<option value="TN">Tunisia</option>
			<option value="TR">Turkey</option>
			<option value="TM">Turkmenistan</option>
			<option value="TC">Turks and Caicos Islands</option>
			<option value="TV">Tuvalu</option>
			<option value="UG">Uganda</option>
			<option value="UA">Ukraine</option>
			<option value="AE">United Arab Emirates</option>
			<option value="GB">United Kingdom</option>
			<option value="US">United States</option>
			<option value="UM">United States Minor Outlying Islands</option>
			<option value="UY">Uruguay</option>
			<option value="UZ">Uzbekistan</option>
			<option value="VU">Vanuatu</option>
			<option value="VE">Venezuela</option>
			<option value="VN">Viet Nam</option>
			<option value="VG">Virgin Islands, British</option>
			<option value="VI">Virgin Islands, U.S.</option>
			<option value="WF">Wallis and Futuna</option>
			<option value="EH">Western Sahara</option>
			<option value="YE">Yemen</option>
			<option value="ZM">Zambia</option>
			<option value="ZW">Zimbabwe</option>
    </select>
  </div>
</div>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<table>
<tr><td><input type="hidden" name="on0" value="Choose A Letter:">Choose A Letter:</td></tr><tr><td><select name="os0">
	<option value="You Eat With Your Mouth Open">You Eat With Your Mouth Open $9.99 USD</option>
	<option value="You Smoke Too Much">You Smoke Too Much $9.99 USD</option>
	<option value="You Leave The Toilet Seat Up">You Leave The Toilet Seat Up $9.99 USD</option>
	<option value="You're Bad At FIFA">You're Bad At FIFA $9.99 USD</option>
	<option value="You Spit When You Talk">You Spit When You Talk $9.99 USD</option>
	<option value="You Use Too Much Toilet Paper">You Use Too Much Toilet Paper $9.99 USD</option>
	<option value="You Have Bad Grammar">You Have Bad Grammar $9.99 USD</option>
	<option value="You Swear Too Much">You Swear Too Much $9.99 USD</option>
	<option value="You Say "Like" Too Much">You Say "Like" Too Much $9.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIJgQYJKoZIhvcNAQcEoIIJcjCCCW4CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCcBETWm9Ax4Oa6pjvPtIwvZbYpkYqbPFzMv8HtP5l1xjT3AJBPardlaOW6ThrnzUqaK5te45VvgwKdrXyo2yFxsjabIfcKDSrX00a/9JEhJyL6e7Oo1crP2Welhc/QtQ1Z1ERqONTOzBIrT0JfxSOctbrV7AEUb8UEigk+beCPlTELMAkGBSsOAwIaBQAwggL9BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECETqXZl/UBi/gIIC2Ex9w4Gtg5he+D7wisg02FHaUDWcI/mLqpD64ytDTuXR82X8Oj0wfoxafOH4NwK9WIA3pvJZkWBV6CwT5lAYVH672ZInwSZw08P26Hft0i5qWDWGSf1Fni3lfuT2yHEl9iG+SVd7g8TXvDV/H3u4fdS07kokManfbObElHm3sdncNx7EIXfIxWSvVRL+fNbV9MXNxEOniot0fP6RuFhgXkNYCWTnBaUTf5o8RHDH4aAGIDC/sut0xTigzGX9NwJ93FechdTx326V65YjWmuJZOMmR9ZHoQVJ3sWz1tAtUiGL4vm6EGqgZ/RAND5+NdVR933zBGF/MBFRL+FKoyX6RTm4z1uLm1GhSinik7tuXRtqCQi7iuoNcr44JgSDfZXcekAevuTZoONihRi3AzKJKxVYTXDjlp7MTXvoePo/iMWYoujd1SxmljGk0XDkROGKpsJfhJN/2TdnojUIYnuRUJYbY9Gqbmf7Y6SElytE5XdYVgYWP901Rk92okRQOeHiUBaBo8a9RQRgvLCZMR2JtEe5AhmSC3ISI0+dn1SbwoMuMLbghrALNtqQwTABBByur6p2Vephy+89eJmw/8f4DlTeNaY5YSILESBs1v13tO2NlblQY0fepuNnjWpga1otmHFxt9roFXkC4OdMDywUW4g8Oc4xyYpgbtFdiroBjDvP4Dzum4SnyN+M/DKM2h+IKpkaGizDfIo2wywWp5ZZf0JCzLYkXibwK1pjJgThaHrwr/WHCsLFbWI28580N2XQ6PFmXc4PxuTqzf8HqqWukaT3k+mWffkVPfypLa6eW9/s1+feeDygQe5stArW2TcFVkIntuKgMFdAJszHIBStr56jhTAJn4H3At2dQmyoUutPhttjY1KMNJOYqhPxGtJXbjbEIhrGb6XA0TaLQHRqRaEWMFjmY/qU0ZVWfx3h7EtP3tifrZcwSlAgMG/Si5b11nBdaHx3bahzoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwMjA5MjIxMzU1WjAjBgkqhkiG9w0BCQQxFgQUJT8NZqUjL9tMuSD9cyhpbP6qPMEwDQYJKoZIhvcNAQEBBQAEgYBsH5+bw7hu33MakP2OntGGbNz2iYPVkyXshM0Ib4W6fC2LhwmgK/DWUG1mrH9EA4HddSD46Z8a0AR7ENk5qe1/LC69Hs68aqXjYejfduFgd+PTDaQRXIxYnzyCvoPCHiRJbaOo3qKG6SvOjUVN8bjPRczubBWDZY/5t2lTB0qrJg==-----END PKCS7-----
">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

