<a name="home"></a>
<div class="jumbotron">
  <div class="container-fluid">
   	<h1>WE SEND TRUTH LETTERS TO<br>THE PEOPLE YOU CARE ABOUT.</h1>
			<p>Do you need to send a message to someone but don't know how?<br>Send them a truth letter thats filled with love for $9.99...<br><strong>BECAUSE THE TRUTH DOESN'T HAVE TO HURT.</strong></p>
			<center><div class="btn-group">
				<button type="button" class="btn btn-danger">
					<span><strong><a href="#buy-now-2">BUY NOW!</a></strong></span></button>
			</div></center>
	</div>
<a name="process"></a>
</div>
	<div class="our-process">
		<div class="container-fluid">
			<h1>Our Process</h1>
				<h3>Our innovatively designed letters <br>are optimized for minimal butt-hurt.</h3>
			<div class="row">
				<div class="col-md-6">
					<img src="http://goo.gl/uA8RTs">
				</div>
				<div class="col-md-6">
					<p>We all have that friend or family member that chews too loud, or smokes too much, or dare I say it, uses too much toilet paper. That kind behavior is unacceptable and can affect the lives of those around them. You have told them before, but they just won't listen.</p>
					<p>What is our solution you ask? Send them an <u>anonymous</u> intervention/cease and desist letter that is <strong>FILLED</strong> with love for minimal butt-hurt.</p>
					<p>For only $9.99 and an address anywhere in the world, we will send that "someone" in your life an anonymous letter that opens their eyes to a major issue. Know someone that says the word "like" too much? Not anymore. Know someone who leaves hair in the sink? Say "Hasta la vista, baby."
				</div>
			</div>
		</div>
	</div>
<a name="letters"></a>
	<div class="letter-designs">
    <div class="container-fluid">
      <h1>Our Letters</h1>
      <h3>Choose between these <br>beautifully designed letters...</h3>
      <div class="row">
          <div class="col-md-4">
          	<div class="thumbnail">
          		<p>1</p>
          		<img src="http://i.imgur.com/clj9pky.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>4</p>
          		<img src="http://i.imgur.com/E3FOnM1.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>7</p>
          		<img src="http://i.imgur.com/eQJKY1S.jpg">
          	</div>
          </div>
          <div class="col-md-4">
          	<div class="thumbnail">
          		<p>2</p>
          		<img src="http://i.imgur.com/IGXr8D8.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>5</p>
          		<img src="http://i.imgur.com/8TE3Yh5.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>8</p>
          		<img src="http://i.imgur.com/vui6XO6.jpg">
          	</div>
          </div>
          <div class="col-md-4">
          	<div class="thumbnail">
          		<p>3</p>
          		<img src="http://i.imgur.com/Ms5pc0e.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>6</p>
          		<img src="http://i.imgur.com/GjdWklT.jpg">
          	</div>
          	<div class="thumbnail">
          		<p>9</p>
          		<img src="http://i.imgur.com/9tsv9oa.jpg">
          	</div>
          </div>
      </div>
    </div>
	 </div>
<div>
<a name="faq"></a>
<div class="faq">
	<div class="container-fluid">
		<h1>FAQ</h1>
			<h3>Super important stuff right here...</h3>
		<div class="panel panel-default">
  		<div class="panel-body"> <strong>Is this serious?</strong><br><u>Super serious</u>. This is going to be huge.
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>What happens after I give you my money?</strong><br>We will immediately send out your truth letter to your "someone's" physical address. <u>Life changed.</u>
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>Will the recipient know who sent the letter?</strong><br>We won't tell them if you dont...
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>My recipient seems to be butt-hurt. What now?</strong><br>If you email us after your purchase with a full explanation of why your recipient is butt-hurt,<br>we will send them a complimentary "Don't be butt-hurt" letter. (We may also share the story).
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>How much does it cost?</strong><br>$9.99
  		</div>
		</div>
		<div class="panel panel-default">
  		<div class="panel-body"><strong>Why should I pay you to send this letter?</strong><br>If you could change your or someone else's life forever for $9.99 wouldn't you? I thought so.<br>No more questions.
  		</div>
		</div>
	</div>
</div>
<a name="buy-now"></a>
<a name="buy-now-2"></a>
	<div class="buy-now">
		<div class="container">
			<h1>Buy Now</h1>
				<h3>Ready to change your life forever?<br>Send someone the truth for only $9.99.</h3>
			<div class="row">
				<div class="col-md-6">
					<p>Are you finally ready to change not only your life but someone else's life forever? All you have to do is send them a letter of truth and you both can be on your way to a better future.</p>
					<p>Fill out the form and press the "Buy Now" button via Stripe.</p>

					<p>That's right, we use Stripe, not only because we wanted to learn how to but because we're hip and edgy. Why else did we build this website with Rails? If we didn't care we would have obviously just built this with Node.js, the only real dev language.</p>
					<p>We will unecessarily accept even more methods of payment when we scale, which shouldn't be long at all.</p> 
<!-- Begin MailChimp Signup Form -->

<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#f7f7f7; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//truthbecauselove.us10.list-manage.com/subscribe/post?u=6666c5df81c80569d2da6fbae&amp;id=a86aa7741c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe because email lists.</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6666c5df81c80569d2da6fbae_a86aa7741c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
</div>

<!--End mc_embed_signup-->


<span> <%= render 'charges/new' %> </span>

<div class="bottom-email">
<center><p>Copyright © 2015 TruthBecauseLove.com | TruthBecauseLove@gmail.com</p></center>
</div>





