<jumbotron>
<h1>Thanks, you paid <strong>$9.99</strong>!</h1>
	<h2>You will receive an email confirmation shortly...</h2>
		<h3>Now sit tight and in a few days your life will be changed forever!</h3>

redirect_to "http://www.truthbecauselove.com"
</jumbotron>