<div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<table>
<tr><td><input type="hidden" name="on0" value="Choose A Letter:">Choose A Letter:</td></tr><tr><td><select name="os0">
	<option value="You Smell...Sometimes">You Smell...Sometimes $9.99 USD</option>
	<option value="Your Breath Smells...Sometimes">Your Breath Smells...Sometimes $9.99 USD</option>
	<option value="You Have Bad Grammar">You Have Bad Grammar $9.99 USD</option>
	<option value="You Smoke Too Much">You Smoke Too Much $9.99 USD</option>
	<option value="You Spit When You Talk">You Spit When You Talk $9.99 USD</option>
	<option value="You Swear Too Much">You Swear Too Much $9.99 USD</option>
	<option value="You Leave The Toilet Seat Up">You Leave The Toilet Seat Up $9.99 USD</option>
	<option value="You Use Too Much Toilet Paper">You Use Too Much Toilet Paper $9.99 USD</option>
	<option value="You Say "Like" Too Much">You Say "Like" Too Much $9.99 USD</option>
</select> </td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIJeQYJKoZIhvcNAQcEoIIJajCCCWYCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCZmiOrw8UzsDGc7oU5oHC7V8RnJibNAzVORSz4gegB0g3VBax4/VFjrmz8JQ1UiWTgvTk9aecWccZA9E9yrx6UoMSH3+Wq7xiCXNIgFrx+B5l5w1Uqns6qKr4gJW8y1nIqcAXf9MqoAsiSPOCMbc5ZTh2+5elIzoh8lRN6IvZ9PzELMAkGBSsOAwIaBQAwggL1BgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECOrl/PZDfZEPgIIC0EV9ADxBnk2X3NIAfZ/WkWQnmrwEFjHqLNCHwZuDh+ValTJB6ZFUwA9AhvM/Od1X5Tmln+49G5KfYmOO5x2zv3+9Z33hhzN12vc+eZ0L3qU3lnzkWzM6XvEfGnQSkVMaJylSs4tU0+zsUSx7rArBZg6e9L2tj9vTE0xqrfDFV0O81JUjbKYNIRxELGZ5KY6K14kftTtsFXbQfHjJ+uR7f/aURkrCA41Iq85whIjCCPVPDxVUKN8VGPrXOjTkUcgbsWFD9NNzCh7xJKr7YdJwPXUHp/U6d23YuUF7mUGyg59KloGz46a05J9mC7lVBoWiNjwSVP+LlfsiBhr5e9ZerbmYrZt5Xq5M3DbYzpS2oncvdVnmD1tNB7tn9Ox4kMPJvnPiLW6jSMRsCVzcSfBsn+3hP67QEiu9FKUQR+F4x+K943Qi+zwCL74z93CqiblarkfuF1Djap6AV/t6bGe87PMHCrhGnDb49GSkYLCxMJFPb9iHazUqtWtRxc3bABaSFzfHtIMqMa10bjIPtS/2xiU47w2en6hWxxc6VBnQxJ3ElYtnT/ryNAMvRRa55u19yjZJBNByopspehUSV1ZkfdqCjUrQOxy2lRnV28yQCk0EwAg230yjICSzrcftqOJKsZGQShGhnukRbDkexZYAQeR3dfo8y79yZvW39ogN+ILGra9fZE7cIlE/RNNZbqNF4q2OlZrO30Z6pNl7aBvx2IkKw0EXmFJCekMXmATckV2sdSjdZ6rpfqGM9D+lItcFQH5WACPxiJz2h5zHFx8baDw/fLdQptCTllVS2JrWFz8Ik9fsEpw7/o/MdcfFjAU0hQA5Yys8IYafcGtCWzbJ8ui6oLC5tlkcdTO2yST+CEBcC0s2eBMaJfEYJCl1L/uZJwZDqGUDTUkKTlEI+NY8Q1vKh0WdljgJfojgBORminyfLx/Pj1j46tRMS7bzRGrZr6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE1MDIxMDAyMjY1NVowIwYJKoZIhvcNAQkEMRYEFDztDrDeCVjT3Zlp4j5NK+zkqVbEMA0GCSqGSIb3DQEBAQUABIGARxuMGEHJ4VphcZ+pOIDOTv/3zxIrDAcNMwjLUPMuTkdWbrdYx1gAVBItJRAMcZ/ZHC/5vUcE1d8X0RrcBbiIuLorb0ZOenhoteEh+91FGj5O2go2SRXWSU9xuV1qn9iDgAE2wQzcgH0IaN3FCq+8YB7AGhskNfDP4RuyVlpvBEE=-----END PKCS7-----
">
<input type="image" id="buy-now-button" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
