<!DOCTYPE html>
<html>
<head>
  <title>Truth... Because Love - Because the truth doesn't have to hurt.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <div class="nav navbar-fixed-top">
    <div class="container-fluid">
      <ul class="pull-left">
        <li><a href="#home">TRUTHBECAUSELOVE.COM</a></li>
      </ul>
      <ul class="pull-right">
        <li><a href="#home">Home</a></li>
        <li><a href="#process">Process</a></li>
        <li><a href="#letters">Letters</a></li>
        <li><a href="#faq">FAQ</a></li>
        <li><a href="#buy-now">BUY NOW</a></li>
      </ul>
    </div>
  </div>
</div>
  
<%= yield %>

</body>
</html>
